<mat-toolbar color="primary">
	<mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="vertic">
      <mat-icon>menu</mat-icon>
    </button>

		<span><img class="logo" hspace="10" align="top" src="../assets/Logo.png"/></span>
    <h1 style="text-emphasis: Logo;">CBS3</h1>

     <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px">
        <li fxHide.xs>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>

        <li fxHide.xs>
          <button mat-icon-button>
            <mat-icon>notification_important</mat-icon>
          </button>
        </li>

        <li>
          <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>
